<header class="blacktop flex col">
    <img class="site-logo" src="/images/logos/RGS_logo-main.png" height="200" width="500"/>
    <a href="/" class="back-btn uppercase flex row2 justify-c alignSelf-c">Go back to exploring</a>
</header>
<section class="flex col">
    <div class="info-container col">
        <h1 class="center-text">Using the site</h1>
        <h3 class="center-text">The Mystical Sifter?</h3>
        <p>The mystical sifter is a search tool to help uses find what they are looking for faster.
            It's a simple search engine that uses words like RED, BLUE, 16mm, or the name of a product by
            its first name, letter, or number. You can be as vague or specific as you want to be when searching
            using this method.
            <br>
            <br>
            <span class="bold">For Example:</span> If you are under full inventory and type RED, you will receive all items that have
            RED in their name.
        </p>
        <div class="site-filter">
            <input type="text" class="searchInput center-text" id="siteFilter" onkeyup="filterItems()"
                   placeholder="Mystical Item Sifter"/>
        </div>
    </div>
    <div class="info-container col">
        <h3 class="center-text">Meta Tags</h3>
        <p>Meta tags are used to help you find what you are looking for quickly and easily without to much effort from
            the user(you). Some meta tags when clicked will show smaller meta tags to help filter out your search for the
            items you are looking for.
        </p>
        <div class="flex row justify-c center-text howto-sample">
            <button>Dice / Bags</button>
            <button>Sleeves</button>
            <button>Deck Boxes</button>
            <button>Comics</button>
        </div>
    </div>
    <div class="info-container col">
        <h3 class="center-text">The Dark Merchant</h3>
        <p>The dark merchant is a mysterious figure who has entered our realm.
            He likes to steal our wares and sell them at a lower price. Not much else is known
            about this dark mysterious being.
        </p>
        </div>
</section>