<header class="blacktop flex col">
    <img class="site-logo" src="/images/logos/RGS_logo-main.png" height="200" width="500"/>
    <a href="/" class="back-btn uppercase flex row2 justify-c alignSelf-c">Go back to exploring</a>
</header>
<section id="productSingle" class="product-wrapper flex col justify-c">
    <div class="flex row justify-c">
        <div class="sr-product-detail col">
            <img class="sr-heroimage" sr-imagewidth="350" sr-imageheight="450" sr-imagefit="crop">
        </div>
        <div class="flex col justify-c center-text product-card">
            <h1 class="sr-name alignSelf-fs utility-spacer">[NAME]</h1>
            <div class="flex row justify-c center-text utility-spacer">
                <div class="sr-currency alignSelf-c price-size">&nbsp;</div>
                <div class="sr-price price-size"></div>
                <div class="flex uppercase center-text justify-c alignSelf-c">
                    <span class="sr-quantity left-color"></span>
                    <span class="out left-color">Left</span>
                </div>
            </div>
            <div class="prod-desc utility-spacer">Product Description:</div>
            <div class="sr-description">[DESCRIPTION]</div>
            <div class="flex col2 justify-c center-text">
                <div class="prod-desc utility-spacer">Tags:</div>
                <div class="sr-meta"> [META]</div>
            </div>
            <div class="bot-pin">
                <a class="sr-singleadditem flex row2 justify-c">
                    <span class="sr-add uppercase">Add to cart</span>
                </a>
            </div>
        </div>
    </div>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- test ad -->
    <br>
    <br>
    <ins class="adsbygoogle adslot"
         style="display:block"
         data-ad-client="ca-pub-5803333355004856"
         data-ad-slot="2858076798"
         data-ad-format="auto"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

    <div class="flex col space-around prod-related">
        <h1 class="uppercase prod-tagLine center-text">You may also like these...UNLESS you're an orc!</h1>
        <div class="sr-related flex row justify-c relate-pro-space" sr-show-max="5">
            <div class="flex col justify-c">
                <a href="/product#!/[RELATEDSLUG]">
                    <img src="[IMAGESRC]/convert?w=200&h=200&fit=crop" alt="[NAME]" width="200" height="200">
                </a>
            </div>
        </div>
    </div>

</section>