<div>
    <div>
        <form action="/forgot" method="POST">
            <div>
                <label for="email">Email</label>
                <input type="email" name="email">
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>