<h1>Please register to edit the site.</h1>
{{#if success}}
    <section class="success">
        <h2>Success!</h2>
    </section>
{{ else }}
    {{# if errors}}
        {{#each errors}}
            <li>{{this.msg}}</li>
        {{/each}}
    {{/if}}
{{/if}}
<div class="flex col">
    <form action="/register" method="POST">
        <div>
            <label>First name</label>
            <input type="text" name="firstname" value="" placeholder="First Name"/>
        </div>
        <div>
            <label class="center">Last name</label>
            <input type="text" name="lastname" value="" placeholder="Last Name"/>
        </div>

        <div>
            <label class="center">Username</label>
            <input type="text" name="username" value="" placeholder="Username"/>
        </div>

        <div>
            <label class="center">Password</label>
            <input type="password" name="password" value="" placeholder="Your password"/>
        </div>
        <div>
            <label for="confirmPassword" class="center">Confirm Password</label>
            <input type="password" name="confirmPassword" value="" placeholder="Your password"/>
        </div>

        <div>
            <label for="email" class="center">email</label>
            <input type="email" name="email" value="" placeholder="email address"/>
        </div>
        <input class="btn margin-twenty" type="submit" value="register"/>
    </form>
</div>
</div>

