<h1>Please register to edit the site.</h1>

    <form action="/register" method="post">
        <div>
            <label>First name</label>
            <input type="text" name="name" value="" placeholder="First Name"/>

            <label class="center">Last name</label>
            <input type="text" name="lastname" value="" placeholder="Last Name"/>
        </div>
        <div>
            <label class="center">Username</label>
            <input type="text" name="username" value=""/>

            <label class="center">Password</label>
            <input type="password" name="password" value=""/>
        </div>
        <div class="flex flex-flow-no-wr">
            <label class="center">email</label>
            <input type="email" name="emailAddress" value=""/>
        </div>
        <input class="btn margin-twenty" type="submit" value="register"/>
    </form>
</div>

