<form action="/forgot/reset/{{token}}" method="POST">
    <label for="newPassword">New Password</label>
    <input type="password" name="password" value="" placeholder="New Password">
    <label for="confirmPassword">Confirm Password</label>
    <input type="password" name="confirm" value="" placeholder="Confirm Password">
    <button type="submit">Update</button>
</form>