<header class="blacktop flex col">
    <img class="site-logo" src="/images/logos/RGS_logo-main.png" height="200" width="500"/>
    <a href="/" class="back-btn uppercase flex row2 justify-c alignSelf-c">Go back to exploring</a>
</header>
<div class="flex col pp return">
    <h1 class="center-text">Renaissance Game Supply Return Policy</h1>
    <p>We are obsessed with customer service and we want to ensure you are happy with your purchase.
        We accept returns on orders up to seven days after it has been delivered to your doorstep.
        This covers any delays that a 3rd party shipper may cause. If you absolutely hate the product
        or have changed your mind simply repack the product, you are responsible for paying the shipping cost
        to return the product back to us. We will gladly refund you for your entire purchase amount once we have
        received the returned product. The return shipping cost will not be refunded, only the original purchase and
        shipping cost will be refunded.</p>
    <p>The item or items being returned must be in the same condition in which it was shipped to you. We will not accept
        missing pieces or modified product. We recommend keeping the packing material and package in the event a return
        is
        needed. Before you ship it back please contact us at <a href="mailto:returns@renaissancegamesupply.com">returns@renaissancegamesupply.com</a>.
        One of our associates will
        handle each return swiftly and communicate with you once the refund is ready to be issued. If you have any
        questions
        please contact us using the provided email address one of our team members will be in touch shortly.</p>
</div>