//imports
@import "partials/mixins";
@import "partials/styleguide";
@import "partials/flexbox";
@import "partials/functions";
@import "partials/cards";
@import "partials/alert";
@import "partials/store";
@import "partials/navigation";
@import "partials/footer";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Fira Sans, sans-serif;
}

//1rem = 14px
body {
  background-color: #4682B4;
  font-size: 14px;
  font-family: "Droid Sans", Sans-serif;
  color: $color-base-w;
  overflow-x: hidden;
}

a {
  &:active {
    color: orange;
  }
  &:visited {
    color: orange;
  }
}

a, button {
  cursor: pointer;
}

figure {
  margin: 0;
}

ul, li, a, p {
  text-decoration: none;
}

textarea, input {
  margin: 1em;
}

textarea {
  max-width: fluidize(768px, 1200px);
  max-height: 400px;
  width: 50%;
  height: 100%;

}

input {
  max-width: fluidize(768px, 1200px);
  width: 50%;
  padding: 1em;
}

input#siteFilter {
  width: calc(100%/1.8);
  border-radius: 0.75rem;
  }


textarea .editor {
  height: 500px;
  width: 400px;
  color: black;
}


.site-logo{
  @include alignSelf(center);
  @include margin(0, auto);
  height: auto;
  max-width: 700px;
  width: 640px;
}
.title{
  font-size: 4rem;
}


.index-wrapper.mainStore{
 margin: 0 4rem;
}

.space-bar-fill{
  padding: 7.5em;
  background-color: $true-black;
  width: 100vw;
  margin-top: -10px;
}

