
//imports
@import "partials/mixins";
@import "partials/styleguide";
@import "partials/flexbox";
@import "partials/functions";
@import "partials/cards";
@import "partials/alert";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Fira Sans, sans-serif;
}

//1rem = 14px
body {
  background-color: $color-base-blue;
  color: $color-base-w;
  font-size: 14px;
}

a {
  &:active {
    color: orange;
  }
  &:visited{
    color: orange;
  }
}

a, button {
  cursor: pointer;
}

figure {
  margin: 0;
}

ul, li, a, p {
  text-decoration: none;
}

textarea, input{
  margin: 1em;
}
textarea{
  max-width: fluidize(768px, 1200px);
  max-height: 400px;
  width: 50%;
  height: 400px;

}

input{
  max-width: fluidize(768px, 1200px);
  width: 50%;
  padding: 1em;

}

textarea .editor{
  height: 500px;
  width: 400px;
  color: black;
}

#mainLogo {
  img {
    @include alignSelf(center);
    @include margin(0, auto);
    height: auto;
    width: 320px;
    max-width: 320px;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
    @media screen and (max-width: 320px) {
      width: 50%;
    }

  }
}

