<header class="blacktop flex col">
    <img class="site-logo" src="/images/logos/RGS_logo-main.png"/>
    <a href="/" class="back-btn uppercase flex row2 justify-c alignSelf-c">Go back to exploring</a>
</header>
<section class="credits center-text">
    <marquee class="center-text" behavior="scroll" direction="up" style="height:420px;">
        <h1>The Fellowship of the Site</h1>
        <span class="bold">UX/UI :</span> Amy Pedid <br>
        <span class="bold">Web Developer:</span> Ronald Pedid <br>
        <span class="bold"> Code Consultant:</span> Jim Pedid <br>
        Dave Crandell <br>
        <span class="bold">Owner:</span> Bobby Currier <br> <br>
        <span class="bold"> Testers: </span> <br>
        Reggie William, <br>
        Amy Pedid, <br>
        Jim Pedid <br> <br>
        <span class="bold">Helpers:</span>
        Shiloh Anderson <br>
        Morgan Piechowski <br>
        Victoria Currier <br>
        Samuel Currier <br> <br>
        <span class="bold">  Special Thanks:</span> <br>
        Shoprocket Support <br>
        Content Creators <br>
        Super Man<br>
        Elvish Magic<br>
        Caffeine<br>
        <span class="bold">And</span> users like <span class="bold">you.</span><br>
    <br>
        Thank you very much!
    </marquee>
</section>