// Black Colors //
$true-black: #000000;
$site-color-offBlack: #121111;
$site-color-medBlack: #2d2b2b;


// White Colors //
$true-white: #ffffff;
$site-color-offWhite: #e8e8e8; //site bg color
$site-color-offWhite1: #fcf8e3;
$site-color-offWhite2: #cbcec0;

//Gray Colors //
$site-color-gray: #8b8b8b;

// Orange and Red Colors //
$site-color-orange: #f15a29;
$site-color-orange1: #ee802c;
$site-color-red: #f44336;
$search-color-red: #ca4528;
$site-color-darkRed: #8e1928;

